/* 
	Table of Contents

	I.   Generic --------------------------------------
	     01. Reset ------------------------------------
	     02. Base -------------------------------------
	         Mobile -----------------------------------
	     03. Fonts ------------------------------------
	     04. Helpers ----------------------------------
	         Overlay ----------------------------------
	         Clear ------------------------------------
	         Notext -----------------------------------
	         Hidden -----------------------------------
	         Alignleft --------------------------------
	         Alignright -------------------------------
	         Disabled ---------------------------------
	         Grid -------------------------------------
	         Responsive Helpers -----------------------
	II.  Regions --------------------------------------
	     01. Container --------------------------------
	     02. Content ----------------------------------
	     03. Footer -----------------------------------
	     04. Header -----------------------------------
	         Mobile -----------------------------------
	     05. Main -------------------------------------
	     06. Shell ------------------------------------
	     07. Sidebar ----------------------------------
	     08. Wrapper ----------------------------------
	III. Modules --------------------------------------
	     01. About event - page -----------------------
	     02. Button -----------------------------------
	         Button Secondary -------------------------
	     03. Events -----------------------------------
	         Event ------------------------------------
	         Event Head -------------------------------
	         Event Body -------------------------------
	         Event Foot -------------------------------
	         Event Hover ------------------------------
	         Small Desktop ----------------------------
	         Tablet Portrait --------------------------
	         Mobile -----------------------------------
	     04. Events - page ----------------------------
	         Form Head --------------------------------
	         Form Cols --------------------------------
	         Mobile -----------------------------------
	     05. Form Elements ----------------------------
	     06. Search -----------------------------------
	     07. Select -----------------------------------
	     08. Checkboxes -------------------------------
	         Mobile -----------------------------------
	     09. Form -------------------------------------
	         Form Head --------------------------------
	         Form Cols --------------------------------
	         Form Row ---------------------------------
	         Form Actions -----------------------------
	         Tablet Portrait --------------------------
	         Mobile -----------------------------------
	     10. Intro ------------------------------------
	         Mobile -----------------------------------
	     11. List -------------------------------------
	     12. Logo -------------------------------------
	     13. Nav --------------------------------------
	     14. Nav Access -------------------------------
	     15. Section ----------------------------------
	     16. Slider -----------------------------------
	     17. Table ------------------------------------
	     18. Widget -----------------------------------
	IV.  Themes ---------------------------------------
	     01. Datepicker -------------------------------
	         Selected Date ----------------------------
	         Today's Date -----------------------------
 */

.ico-arrow-down { background-image: url(images/sprite.png); background-position: 89.65517241379311% 82.75862068965517%; background-size: 680% 680%; width: 10px; height: 10px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-arrow-right { background-image: url(images/sprite.png); background-position: 82.14285714285714% 46.42857142857143%; background-size: 566.6666666666667% 566.6666666666667%; width: 12px; height: 12px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-arrow-up { background-image: url(images/sprite.png); background-position: 64.28571428571429% 85.71428571428571%; background-size: 566.6666666666667% 566.6666666666667%; width: 12px; height: 12px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-calendar { background-image: url(images/sprite.png); background-position: 0% 52%; background-size: 357.89473684210526% 377.77777777777777%; width: 19px; height: 18px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-category { background-image: url(images/sprite.png); background-position: 46.93877551020408% 50%; background-size: 357.89473684210526% 425%; width: 19px; height: 16px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-clock { background-image: url(images/sprite.png); background-position: 50% 0%; background-size: 340% 340%; width: 20px; height: 20px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-email { background-image: url(images/sprite.png); background-position: 100% 0%; background-size: 340% 340%; width: 20px; height: 20px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-location-white { background-image: url(images/sprite.png); background-position: 0% 100%; background-size: 485.71428571428567% 340%; width: 14px; height: 20px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-location { background-image: url(images/sprite.png); background-position: 33.33333333333333% 100%; background-size: 485.71428571428567% 340%; width: 14px; height: 20px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-search { background-image: url(images/sprite.png); background-position: 0% 0%; background-size: 340% 309.09090909090907%; width: 20px; height: 22px; display: inline-block; vertical-align: middle; font-size: 0; }
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.ico-calendar { background-image: url(images/sprite.@2x.png); background-position: 0% 100%; background-size: 421.05263157894734% 233.33333333333334%; width: 19px; height: 18px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-category { background-image: url(images/sprite.@2x.png); background-position: 37.704918032786885% 92.3076923076923%; background-size: 421.05263157894734% 262.5%; width: 19px; height: 16px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-clock { background-image: url(images/sprite.@2x.png); background-position: 0% 0%; background-size: 400% 210%; width: 20px; height: 20px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-email { background-image: url(images/sprite.@2x.png); background-position: 40% 0%; background-size: 400% 210%; width: 20px; height: 20px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-location-white { background-image: url(images/sprite.@2x.png); background-position: 72.72727272727273% 0%; background-size: 571.4285714285714% 210%; width: 14px; height: 20px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-location { background-image: url(images/sprite.@2x.png); background-position: 100% 0%; background-size: 571.4285714285714% 210%; width: 14px; height: 20px; display: inline-block; vertical-align: middle; font-size: 0; }}
.cols:after,
.eventbase .eventbase__cols:after,
.form .form__cols:after { content: ''; line-height: 0; display: table; clear: both; }
/* ------------------------------------------------------------ *\
	I.   Generic
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *\
	Reset
\* ------------------------------------------------------------ */
*,
*:before,
*:after { padding: 0; margin: 0; outline: 0; box-sizing: border-box; }
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main { display: block; }
html { tap-highlight-color: rgba(0,0,0,0); }
body { -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; text-size-adjust: none; }
img,
iframe,
video,
audio,
object { max-width: 100%; }
img,
iframe { border: 0 none; }
img { height: auto; display: inline-block; vertical-align: middle; }
b,
strong { font-weight: bold; }
address { font-style: normal; }
svg:not(:root) { overflow: hidden; }
a,
button,
input[type="submit"],
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="image"],
label[for] { cursor: pointer; }
a[href^="tel"],
button[disabled],
input[disabled],
textarea[disabled],
select[disabled] { cursor: default; }
button::-moz-focus-inner,
input::-moz-focus-inner { padding: 0; border: 0; }
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea,
a[href^="tel"] { -webkit-appearance: none; -moz-appearance: none; appearance: none; }
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
textarea { overflow: auto; -webkit-overflow-scrolling: touch; overflow-scrolling: touch; }
button,
input,
optgroup,
select,
textarea { font-family: inherit; font-size: inherit; color: inherit; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; }
button,
select { text-transform: none; }
table { width: 100%; border-collapse: collapse; border-spacing: 0; }
nav ul,
nav ol { list-style: none outside none; }
/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */
body { min-width: 320px; background: #f8f8f8; font-family: 'Montserrat', sans-serif; font-size: 17px; font-weight: 300; line-height: 1.3; color: #131313; }
a { color: inherit; text-decoration: underline; }
a:hover { text-decoration: none; }
a[href^="tel"] { text-decoration: none; }
h1,
h2,
h3,
h4,
h5,
h6 { margin-bottom: 0.65em; }
h1 { font-size: 55px; }
h2 { font-size: 36px; }
h3 { font-size: 27px; font-weight: 300; }
h4 { font-size: 24px; }
h5 { font-size: 18px; font-weight: 300; }
h6 { font-size: 15px; }
p,
ul,
ol,
dl,
table,
blockquote { margin-bottom: 1.3em; }
h1[class],
h2[class],
h3[class],
h4[class],
h5[class],
h6[class],
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
table:last-child,
blockquote:last-child { margin-bottom: 0; }
/* Mobile */
@media (max-width: 767px) {
	body { font-size: 14px; }
	h1 { font-size: 40px; }
	h2 { font-size: 30px; }
	h3 { font-size: 24px; }
	h4 { font-size: 20px; }
}
/* ------------------------------------------------------------ *\
	Fonts
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *\
	Helpers
\* ------------------------------------------------------------ */
/* 	Overlay	 */
.loading {
	background: rgba(0, 0, 0, 0.3);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 9998;
}
.spinner {
	background: #000 url(https://code.jquery.com/mobile/1.1.0/images/ajax-loader.gif) 0 0 no-repeat;
	border: 0;
	border-radius: 36px;
	box-shadow: 0 1px 1px -1px #fff;
	display: block;
	height: 46px;
	left: 50%;
	margin:-23px 0 0 -23px;
	opacity: .18;
	overflow: hidden;
	padding:1px;
	position: fixed;
	text-align:center;
	top: 50%;
	width: 46px;
	z-index: 9999;
}
/*  Clear  */
.clear:after { content: ''; line-height: 0; display: table; clear: both; }
/*  Notext  */
.notext { white-space: nowrap; text-indent: 100%; text-shadow: none; overflow: hidden; }
.notext-old { font-size: 0; line-height: 0; text-indent: -4000px; }
/*  Hidden  */
[hidden],
.hidden { display: none; }
/*  Alignleft  */
.alignleft { float: left; }
/*  Alignright  */
.alignright { float: right; }
/*  Disabled  */
[disabled],
.disabled { cursor: default; }
/*  Grid  */
.cols { margin: 0 -15px; }
.cols:after { }
.col { float: left; width: 100%; padding: 0 15px; }
.col-1of2 { width: 50%; }
/*  Responsive Helpers  */
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block { display: none !important; }
@media (max-width: 767px) {
	.hidden-xs { display: none !important; }
	.visible-xs-block { display: block !important; }
	.visible-xs-inline { display: inline !important; }
	.visible-xs-inline-block { display: inline-block !important; }
}
@media (min-width: 768px) and (max-width: 1023px) {
	.hidden-sm { display: none !important; }
	.visible-sm-block { display: block !important; }
	.visible-sm-inline { display: inline !important; }
	.visible-sm-inline-block { display: inline-block !important; }
}
@media (min-width: 1024px) and (max-width: 1500px) {
	.hidden-md { display: none !important; }
	.visible-md-block { display: block !important; }
	.visible-md-inline { display: inline !important; }
	.visible-md-inline-block { display: inline-block !important; }
}
@media (min-width: 1501px) {
	.hidden-lg { display: none !important; }
	.visible-lg-block { display: block !important; }
	.visible-lg-inline { display: inline !important; }
	.visible-lg-inline-block { display: inline-block !important; }
}
/* ------------------------------------------------------------ *\
	II.  Regions
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *\
	Container
\* ------------------------------------------------------------ */
.container {}
/* ------------------------------------------------------------ *\
	Content
\* ------------------------------------------------------------ */
.content {}
/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */
.footer {}
/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */
.header { position: absolute; top: 0; left: 0; width: 100%; }
.header .header__inner { display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-align: center; align-items: center; padding: 16px 0 0; }
/* Mobile */
@media (max-width: 767px) {
	.header .header__inner { -ms-flex-direction: column; flex-direction: column; }
	.header .logo { margin-bottom: 20px; }
	
}
/* ------------------------------------------------------------ *\
	Main
\* ------------------------------------------------------------ */
.main {}
/* ------------------------------------------------------------ *\
	Shell
\* ------------------------------------------------------------ */
.shell { max-width: 1510px; padding-left: 15px; padding-right: 15px; margin: auto; }
.shell--large { max-width: 1570px; }
/* ------------------------------------------------------------ *\
	Sidebar
\* ------------------------------------------------------------ */
.sidebar {}
/* ------------------------------------------------------------ *\
	Wrapper
\* ------------------------------------------------------------ */
.wrapper { min-height: 100vh; }
/* ------------------------------------------------------------ *\
	III. Modules
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *\
	About event - page
\* ------------------------------------------------------------ */
.aboutme { position: relative; top: -150px; margin-bottom: 40px; }
.aboutme > .shell { position: relative; }
.aboutme .aboutme__inner { 
	position: relative; 
	padding: 61px 20px 57px; 
	background: #fff; 
	box-shadow: 4px 8px 30px 10px rgba(0, 0, 0, .1); 
}
.aboutme .video-container {
  position: relative;
  height: 0;
  overflow: hidden;
  margin: 5px 0 15px 0px;
}
/* 16x9 Aspect Ratio */
.aboutme .video-container-16x9 {
  padding-bottom: 56.25%;
}
/* 4x3 Aspect Ratio */
.aboutme .video-container-4x3 {
  padding-bottom: 75%;
}
.aboutme .video-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
.aboutme .aboutme__content { max-width: 850px; margin: 0 auto; }
.aboutme .aboutme__content h4 { text-align: center;}
/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */
.btn { position: relative; display: inline-block; vertical-align: middle; min-width: 150px; height: 60px; padding: 0; border: 0 none; border-radius: 0; background: #fff; font-family: 'Montserrat', sans-serif; font-size: 20px; font-weight: 300; color: #fe1521; line-height: 58px; letter-spacing: .05em; text-transform: uppercase; text-decoration: none; text-align: center; cursor: pointer; transition: .3s; 
	-webkit-appearance: none;
	   -moz-appearance: none;
	 		appearance: none;
}
.btn:after { content: ''; position: absolute; top: -2px; left: -2px; right: -2px; bottom: -2px; background: linear-gradient(to bottom, #cd054b 0%, #fc1523 100%);   }
.btn > span { position: relative; z-index: 1; display: block; padding: 0 10px 0 26px; background: #fff; color: #fe1521; transition: .3s; }
.btn .btn__arrow { display: inline-block; margin-left: 18px; font-size: 26px; }
.btn:hover > span { background: transparent; color: #fff; }
/*  Button Secondary  */
.btn-secondary { position: relative; display: inline-block; vertical-align: middle; min-width: 270px; height: 64px; padding: 0 28px; border: 1px solid #fff; border-radius: 0; background: transparent; font-family: 'Montserrat', sans-serif; font-size: 20px; font-weight: 300; color: #fff; line-height: 62px; letter-spacing: .05em; text-transform: uppercase; text-decoration: none; text-align: center; cursor: pointer; transition: .3s; 
	-webkit-appearance: none;
	   -moz-appearance: none;
	 		appearance: none;

}
.btn-secondary span { display: inline-block; -ms-transform: rotate(-90deg); transform: rotate(-90deg); margin-left: 17px; font-size: 26px; transition: transform .3s; }
.btn-secondary.active span { -ms-transform: rotate(90deg); transform: rotate(90deg); }
.btn-secondary:hover { background: #fff; color: #fe1521; }
/* ------------------------------------------------------------ *\
	Events
\* ------------------------------------------------------------ */
.events { margin-bottom: 100px; }
.events .events__container { display: -ms-flexbox; display: flex; -ms-flex-flow: row wrap; flex-flow: row wrap; -ms-flex-pack: justify; justify-content: space-between; margin: 0 -15px; }
/*  Event  */
.event { width: 33.33%; padding: 0 15px; margin-bottom: 20px; }
.event .event__container { position: relative; overflow: hidden; display: -ms-flexbox; display: flex; -ms-flex-flow: column wrap; flex-flow: column wrap; -ms-flex-pack: justify; justify-content: space-between; padding: 18px 13px; background: #fff; color: #121212; text-decoration: none; transition: .3s; }
.event .event__container:before { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(110deg, #fe1521 0%, #c80350 100%); opacity: 0; transition: .3s; }
.event .event__inner { position: relative; z-index: 1; }
/*  Event Head  */
.event .event__head { display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-align: center; align-items: center; padding-left: 4px; margin-bottom: 35px; }
.event .event__head-meta { font-weight: 300; }
.event .event__head-meta span { display: inline-block; width: 28px; height: 28px; margin-right: 3px; border-radius: 50%; background: linear-gradient(to bottom, #d43572 0%, #f71327 100%); font-weight: 700; color: #fff; line-height: 28px; text-align: center; transition: .3s; }
/*  Event Body  */
.event .event__body { padding: 0 15px 120px 35px; }
/*  Event Foot  */
.event .event__foot-inner { display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-align: center; align-items: center; padding-left: 9px; }
.event .event__subtitle { padding-left: 8px; margin-bottom: 7px; font-size: 18px; }
.event .event__location { position: relative; padding-left: 22px; }
.event .event__location i { position: absolute; top: 0; left: 0; transition: .3s; }
.event .event__location i + i { opacity: 0; }
/*  Event Hover  */
.event .event__container:hover { color: #fff; }
.event .event__container:hover .event__location i + i { opacity: 1; }
.event .event__container:hover .event__head-meta span { background: #fff; color: #fe1521; }
.event .event__container:hover:before { opacity: 1; }
.event .event__get_more_container {
	height: 200px;
	width: 400px;
}
.event .event__get_more_container a {
	text-align: center;
	-ms-transform: translate(0, 45%);
	    transform: translate(0, 45%);
	height: 100%;
	text-decoration: none;
}
.event .list_eventbrite a {
	text-align: right;
	display: inherit;
	font-size: 9px;
	margin: 7px 0px 0px 0px;
	color: red;
}
/* Small Desktop */
@media (max-width: 1500px) {
	.event .event__head { margin-bottom: 20px; }
	.event .event__body { padding: 0 10px 40px; }
}
/* Tablet Portrait */
@media (max-width: 1023px) {
	.event { width: 50%; }
}
/* Mobile */
@media (max-width: 767px) {
	.event { width: 100%; }
	.event .event__subtitle { font-size: 16px; }
}
/* ------------------------------------------------------------ *\
	Events - page
\* ------------------------------------------------------------ */
.eventbase { position: relative; top: -150px; margin-bottom: 40px; }
.eventbase > .shell { position: relative; }
.eventbase .eventbase__inner { 
	position: relative; 
	padding: 61px 20px 57px; 
	background: #fff; 
	box-shadow: 4px 8px 30px 10px rgba(0, 0, 0, .1); 
}
.eventbase .eventbase__content { max-width: 850px; margin: 0 auto; }
/*  Form Head  */
.eventbase .eventbase__head { 
	width: 100%;
	padding: 15px 15px 50px 15px;
	text-align: center;
}
.eventbase .eventbase__head .eventbase__head-inner h3 {
	font-size: 35px;
	margin-bottom:.2em;
}
.eventbase .eventbase__head .eventbase__head-inner h4 {
	font-size: 24px;
	margin-bottom: .65em;
	font-weight: inherit;
}
.eventbase .eventbase__head .eventbase__head-inner .openings{
	text-align:left;
	font-style: italic;
	font-size: 12px;
}
/*  Form Cols  */
.eventbase .eventbase__cols:after { }
.eventbase .eventbase__col { float: left; width: 100%; padding: 0 33px; }
.eventbase .eventbase__col--1of2 { width: 50%;}
.eventbase .eventbase__cols--gutter-small { margin: 0 -5px; padding: 10px 0px 10px 0px; }
.eventbase .eventbase__cols--gutter-small .eventbase__col { padding: 0 9px 0px 0px; }
.eventbase .eventbase__cols--gutter-small .eventbase__col + .eventbase__col { padding: 0 0px 0px 9px; }
/*  eventbase Row  */
.eventbase .eventbase__row {     
	padding: 15px 0px 15px 10px;
	margin: 11px 0px 5px 0px;
	background-color: #f8f8f8;
	width: 100%;
}
.eventbase .eventbase__body .join:hover { 
	background: linear-gradient(110deg, #fe1521 0%, #c80350 100%); 
	color: #fff; 
}
.eventbase .eventbase__body a {
	margin:50px 0px 50px 0px;
	display: inline-block;
}
.eventbase .eventbase__body .join.disabled { 
	pointer-events: none;
	cursor: default;
	color: lightgrey;
	border-color: #f8f8f8;
	background-color: #f8f8f8;
}
.eventbase .eventbase__body .join{ 
	border: 1px solid #fe1521; 
	border-radius: 0; 
	line-height: 34px;
	font-size: 15px; 
	font-weight: 700; 
	color: #fe1521;
	display: inline-block;
	width: 100%;
	text-align: center;
	text-decoration: none;
	margin-top: 50px;
}
.eventbase .eventbase__item { position: relative; }
.eventbase .eventbase__item .eventbase__icon + span { padding-left: 27px; }
.eventbase .eventbase__icon { position: absolute; top: -2px; left: 2px; }
.eventbase .eventbase__item p{ display: inline-block; }
.eventbase .eventbase__item a{ margin: 0px 0px 0px 0px; }
/*  eventbase Actions  */
.eventbase .eventbase__actions { padding-right: 10px; text-align: right; font-size: 10px; color:grey; }
.eventbase .checkboxes { margin-bottom: 23px; }
/* Mobile */
@media (max-width: 767px) {
	.eventbase .eventbase__head { width: 100%; margin: 0; }
	.eventbase .eventbase__head .btn-secondary { width: 100%; }
	
	.eventbase .eventbase__inner { padding: 20px 10px; }
	.eventbase .eventbase__col { width: 100%; }
	.eventbase .eventbase__row { margin-bottom: 20px; }
	.eventbase .eventbase__actions { text-align: center; padding: 0; }
}
/* ------------------------------------------------------------ *\
	Form Elements
\* ------------------------------------------------------------ */
input::-webkit-input-placeholder { color: inherit; opacity: 1; }
input:-ms-input-placeholder { color: inherit; opacity: 1; }
input::placeholder { color: inherit; opacity: 1; }
textarea::-webkit-input-placeholder { color: inherit; opacity: 1; }
textarea:-ms-input-placeholder { color: inherit; opacity: 1; }
textarea::placeholder { color: inherit; opacity: 1; }
input:-webkit-autofill { -webkit-text-fill-color: inherit; -webkit-box-shadow: 0 0 0 1000px #fff inset; }
.field { width: 100%; height: 34px; padding: 0 0 0 0; border-width: 0 0 2px; border-style: solid; border-color: #eee; border-radius: 0; background: transparent; letter-spacing: .075em; text-transform: uppercase;
	-webkit-appearance: none;
	   -moz-appearance: none;
	 		appearance: none;
}
/* ------------------------------------------------------------ *\
	Search
\* ------------------------------------------------------------ */
.search { position: relative; max-width: 480px; margin: 0 auto; }
.search:after { content: ''; position: absolute; bottom: -5px; left: 0; width: 100%; height: 1px; background: #fff; }
.search .search__inner { position: relative; max-width: 236px; margin: 0 auto; }
.search .search__label { position: absolute; top: 0; left: 0; }
.search .search__field { padding-left: 37px; border: 0 none; border-radius: 0; background: transparent; font-family: 'Montserrat', sans-serif; font-size: 20px; font-weight: 300; }
.search .search__field::-webkit-input-placeholder { transition: opacity .3s; }
.search .search__field:-ms-input-placeholder { transition: opacity .3s; }
.search .search__field::placeholder { transition: opacity .3s; }
.search .search__field:focus::-webkit-input-placeholder { opacity: 0; }
.search .search__field:focus:-ms-input-placeholder { opacity: 0; }
.search .search__field:focus::placeholder { opacity: 0; }
/* ------------------------------------------------------------ *\
	Select
\* ------------------------------------------------------------ */
.select { position: relative; }
.select:after { content: '>'; position: absolute; top: 0; right: 4px; -ms-transform: rotate(90deg); transform: rotate(90deg); font-size: 24px; }
.select select { width: 100%; height: 34px; padding: 0 31px; border-width: 0 0 2px; border-style: solid; border-color: #eee; border-radius: 0; background: transparent; letter-spacing: .075em; text-transform: uppercase; 
	-webkit-appearance: none;
	   -moz-appearance: none;
	 		appearance: none;
}
/* ------------------------------------------------------------ *\
	Checkboxes
\* ------------------------------------------------------------ */
.checkboxes .checkboxes__head { position: relative; padding-bottom: 11px; margin-bottom: 39px; text-transform: uppercase; }
.checkboxes .checkboxes__head:after { content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 2px; background: #eee; }
.checkboxes .checkboxes__title { font-weight: 300; letter-spacing: .075em; }
.checkboxes .checkboxes__title i { margin: 0 3px; }
.checkboxes .checkboxes__body { display: -ms-flexbox; display: flex; -ms-flex-flow: row wrap; flex-flow: row wrap; -ms-flex-pack: justify; justify-content: space-between; max-width: 691px; margin: 0 auto; }
.checkbox { position: relative; width: 44.3%; margin-bottom: 16px; font-size: 14px; letter-spacing: .05em; }
.checkbox input { position: absolute; top: 0; left: -9999px; opacity: 0; visibility: hidden; }
.checkbox label { position: relative; padding-left: 28px; letter-spacing: .09em; }
.checkbox label:after { content: ''; position: absolute; top: 2px; left: 0; width: 16px; height: 16px; border: 2px solid #eee; border-radius: 50%; transition: .3s; }
.checkbox input:checked + label:after { border-color: #c80350; background: #fe1521; }
/* Mobile */
@media (max-width: 767px) {
	.checkboxes .checkboxes__body { max-height: 200px; overflow-y: auto; }
	.checkbox { width: 100%; }
}
/* ------------------------------------------------------------ *\
	Form
\* ------------------------------------------------------------ */
.form { position: relative; top: -104px; margin-bottom: 40px; }
.form > .shell { position: relative; }
.form .form__inner { position: relative; padding: 61px 20px 57px; background: #fff; box-shadow: 4px 8px 30px 10px rgba(0, 0, 0, .1); }
.form form { max-width: 750px; margin: 0 auto; }
/*  Form Head  */
.form .form__head { position: absolute; top: -101px; right: 0; margin-right: 15px; }
.form .form__head-inner { padding: 0 15px; }
/*  Form Cols  */
.form .form__cols { margin: 0 -33px; }
.form .form__cols:after { }
.form .form__col { float: left; width: 100%; padding: 0 33px; }
.form .form__col--1of2 { width: 50%; }
.form .form__cols--gutter-small { margin: 0 -9px; }
.form .form__cols--gutter-small .form__col { padding: 0 9px; }
/*  Form Row  */
.form .form__row { margin-bottom: 55px; }
.form .form__controls { position: relative; }
.form .form__controls .form__icon + .field { padding-left: 27px; }
.form .form__icon { position: absolute; top: 2px; left: 2px; }
/*  Form Actions  */
.form .form__actions { padding-right: 10px; text-align: right; }
.form .checkboxes { margin-bottom: 23px; }
/* Tablet Portrait */
@media (max-width: 1023px) {
	.form { top: -50px; }
	.form .form__head { top: -75px; }
}
/* Mobile */
@media (max-width: 767px) {
	.form .form__head { width: 100%; margin: 0; }
	.form .form__head .btn-secondary { width: 100%; }
	
	.form .form__inner { padding: 20px 10px; }
	.form .form__col { width: 100%; }
	.form .form__row { margin-bottom: 20px; }
	.form .form__actions { text-align: center; padding: 0; }
}
/* ------------------------------------------------------------ *\
	Intro
\* ------------------------------------------------------------ */
.intro { min-height: 753px; padding: 111px 0; background: linear-gradient(110deg, #fe1521 0%, #c80350 100%); color: #fff; text-align: center; }
.intro .search { margin-bottom: 54px; }
.intro .intro__head { position: relative; padding-top: 30px; }
.intro .intro__head-image { position: absolute; top: 0px; left: 50%; -ms-transform: translateX(-50%); transform: translateX(-50%); width: 100%; }
.intro .intro__title { position: relative; z-index: 1;  }
.intro .intro__title strong { display: block; font-size: 204px; font-weight: 800; letter-spacing: .01em; line-height: .9; text-transform: uppercase; }
.intro .intro__title span { display: block; padding: 3px 0 32px 32px; font-size: 33px; font-weight: 600; letter-spacing: 1.3em; text-transform: uppercase; }
/* Mobile */
@media (max-width: 767px) {
	.intro { min-height: 600px; padding: 150px 0; }
	.intro .search { margin-bottom: 30px; }
	.intro .intro__title strong { font-size: 100px; }
	.intro .intro__title span { font-size: 28px; }
}
/* ------------------------------------------------------------ *\
	List
\* ------------------------------------------------------------ */
[class^="list-"] { list-style: none outside none; }
/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */
.logo { display: inline-block; vertical-align: middle; max-width: 202px; font-size: 0; line-height: 0; }
/* ------------------------------------------------------------ *\
	Nav
\* ------------------------------------------------------------ */
.nav {}
/* ------------------------------------------------------------ *\
	Nav Access
\* ------------------------------------------------------------ */
.nav-access { font-size: 15px; font-weight: 700; color: #fff; }
.nav-access ul { list-style-type: none; display: -ms-flexbox; display: flex; }
.nav-access li + li { margin-left: 12px; }
.nav-access .nav__item { display: inline-block; min-width: 85px; height: 36px; line-height: 36px; transition: .3s; text-align: center; text-decoration: none; text-transform: uppercase; }
.nav-access .nav__item:hover { background: #fff; color: #fe1521; }
.nav-access .nav__item--border { border: 1px solid #fff; border-radius: 0; line-height: 34px; }
/* ------------------------------------------------------------ *\
	Section
\* ------------------------------------------------------------ */
.section {}
/* ------------------------------------------------------------ *\
	Slider
\* ------------------------------------------------------------ */
.slider {}
.slider .slides { list-style: none outside none; }
/* ------------------------------------------------------------ *\
	Table
\* ------------------------------------------------------------ */
.table {}
/* ------------------------------------------------------------ *\
	Widget
\* ------------------------------------------------------------ */
.widgets { list-style: none outside none; }
/* ------------------------------------------------------------ *\
	IV.  Themes
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *\
	Datepicker
\* ------------------------------------------------------------ */
.ui-widget.ui-widget-content { border: 1px solid rgb(255, 185, 188); border-radius: 0; color: #131313; }
.ui-datepicker .ui-datepicker-title { color: #131313; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { border-radius: 0; background: rgb(255, 243, 244); }
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active { background: #fff; border-color: rgb(255, 185, 188);  }
/*  Selected Date  */
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover { background: rgb(254, 115, 122); color: #fff; }
/*  Today's Date  */
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight { background: rgb(255, 232, 233); }
