/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */

.logo { display: inline-block; vertical-align: middle; max-width: 202px; font-size: 0; line-height: 0; }
