{% include 'templates/partials/head.jinja2' %}
{% block header %}
<div class="wrapper">
<header class="header">
  <div class="shell shell--large">
    <div class="header__inner">
      <a href="#" class="logo">
        <img src="{{request.static_url('charlestonloveweek:static/css/images/logo-image.png')}}" alt="">

        AWAKEN CHURCH
      </a>
      
      <nav class="nav-access">
					<ul>
            <li>
							<a href="{{request.route_url('home')}}" class="nav__item">Home</a>
						</li>
						
            <li>
							<a href="{{request.route_url('about')}}" class="nav__item">About</a>
						</li>
						
						<li>
              <a href="{{request.route_url('donate')}}" 
                 class="nav__item">Donate</a>
						</li>
					</ul>
				</nav><!-- /.nav-access -->
    </div><!-- /.header__inner -->
  </div><!-- /.shell shell-/-large -->
</header><!-- /.header -->
<div class="loading" style="display: none;">
    <div class="spinner"></div>
</div>
{% endblock header %}