{% extends "main.jinja2" %}

{% block content %}
<div class="eventbase__body">
        <div class="eventbase__cols">
          <div class="eventbase__col eventbase__col--1of2">
            <div class="eventbase__row">
            Charleston LOVE WEEK is a unified effort to build on our community’s existing 
            spirit of caring, unity, compassion, selflessness, and service. Our goal is to 
            strengthen the community while creating a greater impact throughout our city. 
            Working together, we will be partnering with more than 30 organizations and over 
            3,000 community volunteers to provide upwards of 10,000 hours over the span of 1 
            week. These acts of service are designed to share hope and demonstrate love to 
            everyone we encounter. We are honored to have the opportunity to serve with you!
            </div><!-- /.eventbase__row -->
          </div><!-- /.eventbase__col eventbase__col-/-1of2 -->

          <div class="eventbase__col eventbase__col--1of2">
            <div class="eventbase__cols eventbase__cols--gutter-small">
              <div class="eventbase__col eventbase__col--1of2">
                <div class="eventbase__row">
                  <div class="eventbase__controls">
                    <div class="eventbase__icon">
                      <i class="ico-calendar"></i>
                    </div><!-- /.eventbase__icon -->

                    <input type="text" name="start-date" id="start-date" placeholder="Date Start" class="field js-datepicker">
                  </div><!-- /.eventbase__controls -->
                </div><!-- /.eventbase__row -->
              </div><!-- /.eventbase__col eventbase__col-/-1of2 -->
              
              <div class="eventbase__col eventbase__col--1of2">
                <div class="eventbase__row">
                  <div class="eventbase__controls">
                    <input type="text" name="end-date" id="end-date" placeholder="Date End" class="field js-datepicker">
                  </div><!-- /.eventbase__controls -->
                </div><!-- /.eventbase__row -->
              </div><!-- /.eventbase__col eventbase__col-/-1of2 -->
            </div><!-- /.eventbase__cols eventbase__cols-/-gutter-small -->
          </div><!-- /.eventbase__col eventbase__col-/-1of2 -->
        </div><!-- /.eventbase__cols -->
        
      </div><!-- /.eventbase__body -->
<h4>About Charleston LOVE WEEK</h4>
{% endblock content %}